<h1>Inicio#inicio</h1>
<p>Find me in app/views/inicio/inicio.html.erb</p>

<h2><%= link_to  "Nueva materia primas", new_materia_prima_path %></h2>
<h2><%= link_to  "Ver materia primas", materia_primas_path %></h2>