<div class="inicio">
 
    <article>
       
        <h1>Bienvenido a tu inventario</h1>
        <h2>Puedes seleccionar tus categorias de datos que desees modificar en el menu lateral</h2>
        
   
    </article>
    

 
</div>