<div class="inicio">
  <img src="<%= asset_path 'pinturas_background.jpg' %>">
    <article>
       <img src="<%= asset_path 'logoandescolor.png' %>">
        <h1>Bienvenido a tu inventario</h1>
        <h2>Puedes seleccionar tus categorias de datos que desees modificar en el menu lateral</h2>
    </article>
    

 
</div>