<h1>Agregar Materias Primas</h1>
<p> Los decimales deben ingresarse con puntos (.), los porcentajes deben incluir solo el número, sin el simbolo '%' </p>
<%= render 'formAgregar', materias_prima: @materias_prima %>
  

<%= link_to 'Back', materias_primas_path %>
