<h1>Nueva Materias Prima</h1>
<p> Los decimales deben ingresarse con puntos (.), los porcentajes deben incluir solo el número, sin el simbolo '%' </p>
<%= render 'form', materias_prima: @materias_prima %>

<%= link_to 'Back', materias_primas_path %>
