/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

nav{
    width: 15%;
    float: left;
    .container{
        width: 100%;
        float: left;
        img{
            width: 100%;
        }
        .subitem_menu{
                padding: 5px 5px 5px 15px;
                 text-align: left;
        }
        a{
            width: 100%;
        }
        ul{
            li{
                width: 100%;
                text-align: left;
                padding: 15px 0;
                a{
                    padding: 0px;
                }
            }
        }
    }
    .logo{
        text-align: center;
        img{
            display: inline-block;
        }
    }
}
.wrapper-app{
    width: 85%!important;
    float: right;
}
 table{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
     tr{
         th{
            text-align: center;
            padding: 3px 5px;
            min-width:100px;
         }
     }
 }